# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars.backup

# Crash log files
crash.log
crash.*.log

# Environment variable files
.env
.env.local

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
